.collections {
    padding: 120px 30px 30px;
    width: 100%;
    max-width: 1490px;
    margin: 0 auto;
    gap: 50px;
    min-height: 60vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: show-down .6s ease-in-out forwards;
}
.card-collection {
    width: 400px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 5px 15px 30px var(--light-shadow);
    cursor: pointer;
    overflow: hidden;
}