.collections {
    padding: 15px 0 60px;
    width: 100%;
    max-width: 1490px;
    margin: 0 auto;
    gap: 30px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: show-down .6s ease-in-out forwards;
}
.card-collection {
    width: 400px;
    height: 300px;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 5px 15px 30px var(--light-shadow);
    cursor: pointer;
    overflow: hidden;
}
.header-explore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 40vh;
    animation: show .6s ease-in-out forwards;
    overflow: hidden;
}
.title-explore {
    position: relative;
}
.title-explore h2 {
    text-align: center;
    color: var(--dark);
    font-size: 2em;
    text-shadow: 3px 3px 15px var(--light-shadow);
    cursor: default;
}
.watercolor-leaves-left {
    position: absolute;
    z-index: -1;
    width: 35%;
    top: 0%;
    left: -17%;
}
.watercolor-leaves-right {
    position: absolute;
    width: 35%;
    top: 0%;
    right: -17%;
    transform: rotateY(180deg);
}
.title-collections {
    animation: show .6s ease-in-out forwards;
    color: var(--dark);
    font-family: 'DM Serif Display', serif;
    margin-top: 0;
    font-weight: 200;
    margin-left: 10px;
    font-size: 3em;
}
@media (min-width: 660px) {
    .card-collection {
        margin: 0;
    }
    .title-explore h2 {
        font-size: 3em;
    }
    .title-collections {
        margin-top: 30px;
        text-align: center;
    }
}
@media (min-width: 1180px) {
    .title-explore h2 {
        font-size: 3.5em;
    }
    .header-explore {
        height: 50vh;
    }
}
@media (min-width: 1260px) {
    .title-collections {
        text-align: left;
    }
}