.add-photo-profile-form {
  background-color: var(--light-letter);
  padding: 30px 60px;
  min-width: 360px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.add-photo-profile-form .loader,
.add-photo-profile-form .loader:after {
  width: 10px;
  height: 10px;
}
.add-photo-profile-form .drag-zone {
  background-color: var(--light-letter);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
  width: 260px;
  cursor: pointer;
}
.add-photo-profile-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
}
.add-photo-profile-form label {
  width: 100%;
  height: 100%;
  display: flex;
  border: 2px dotted var(--light-shadow);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  color: var(--letter);
  font-weight: 600;
  opacity: 0.8;
}
.drag-zone:hover label,
.add-photo-profile-form label[class='drag-hover'] {
  border: 2px dotted var(--focus-letter);
  color: var(--focus-letter);
}

.drag-zone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.add-photo-profile-form h2 {
  font-family: 'DM Serif Display', serif;
  color: var(--focus-letter);
  margin-bottom: 10px;
  text-align: center;
}
