.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--dark);
}
.main-profile {
  padding: 30px 0;
  border-radius: 20px;
  width: 100%;
  background-color: var(--light-letter);
}
.main-profile h2 {
  font-weight: 500;
  padding-left: 30px;
}
.profile-description-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.profile-description,
.profile-statistics {
  width: 100%;
}
.profile-add-content,
.profile-description-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--letter);
  gap: 15px;
  margin: 10px 0 30px;
  border-radius: 10px;
  overflow: hidden;
}
.profile-description-content {
  width: 100%;
}
.profile-description-content .description-text {
  width: 100%;
  align-self: flex-start;
  flex-direction: column;
  display: flex;
  gap: 5px;
  height: 100%;
  resize: none;
  padding: 0 30px;
  color: var(--letter);
  font-weight: 500;
  font-size: 1em;
  background: none;
  border: none;
}
@media (min-width: 660px) {
  .profile {
    flex-direction: row;
    padding: 0 30px;
  }
  .main-profile {
    padding: 30px;
  }
  .profile-add-content,
  .profile-description-content {
    border: 1px solid var(--light-shadow);
    min-height: 200px;
  }
  .profile-description-content .description-text {
    padding: 15px;
  }
  .main-profile h2 {
    padding-left: 0;
  }
}
@media (min-width: 990px) {
  .profile-description-container {
    flex-direction: row;
  }
}
