.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.main-profile {
  padding: 30px 0;
  border: 1px solid var(--light-shadow);
  border-radius: 10px;
  width: 100%;
  background-color: var(--light-letter);
}
.main-profile h2 {
  font-weight: 500;
  padding-left: 15px;
}
.profile-description-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
.profile-description,
.profile-statistics {
  width: 100%;
}
.profile-add-content,
.profile-description-content {
  display: grid;
  align-content: center;
  justify-content: center;
  color: var(--letter);
  padding: 10px;
  gap: 15px;
  margin: 10px 0 30px;
  border-radius: 10px;
}
.profile-description-content {
  width: 100%;
}
@media (min-width: 660px) {
  .profile {
    flex-direction: row;
    padding: 0 30px;
  }
  .main-profile {
    padding: 30px;
  }
  .profile-add-content,
  .profile-description-content {
    border: 1px solid var(--light-shadow);
    min-height: 200px;
  }
  .main-profile h2 {
    padding-left: 0;
  }
}
@media (min-width: 990px) {
  .profile-description-container {
    flex-direction: row;
  }
}
