.nav-ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style: none;
  position: absolute;
  top: -110%;
  z-index: -1;
}
.nav-ul-active {
  flex-direction: column-reverse;
  justify-content: start;
  align-items: flex-start;
  background-color: var(--light-letter);
  animation: show-left-slide 0.2s ease forwards;
  min-height: 40vh;
  width: 100%;
  top: 100%;
  padding: 10px 15px;
  position: fixed;
  inset: 50px 0px 0px;
  overflow-y: auto;
}
.nav-ul-active > li {
  text-align: center;
  width: 100%;
}
.nav-ul-active > li:first-child {
  display: none;
}
.nav-ul-active > li > a {
  display: none;
}
.nav-ul-active .nav-ul-list {
  position: relative;
}
.nav-ul-active .nav-ul-list ul {
  background-color: var(--light-letter);
  width: 100%;
  box-shadow: none;
}

.nav-ul-active .nav-ul-list ul a,
.nav-ul-active .nav-ul-list ul .btn-nav {
  color: var(--dark);
  justify-content: flex-start;
  padding: 0 15px;
}
.nav-ul-active .mobile-link-nav {
  display: flex;
}
.mobile-link-nav {
  display: none;
}
.nav-ul a,
.nav-ul .btn-nav {
  color: var(--letter);
  font-weight: 600;
  text-decoration: none;
}
.nav-ul > li {
  position: relative;
}

.nav-ul-list {
  display: none;
  position: absolute;
}
.nav-ul-active .nav-ul-list {
  display: block;
}
.nav-ul-list hr {
  border: 1px solid #00000008;
}

.nav-ul-list ul {
  position: relative;
  z-index: 100;
  background-color: var(--light-letter);
  border-radius: 5px;
  color: var(--letter);
  font-weight: 600;
  list-style: none;
  width: max-content;
  box-shadow: 3px 3px 15px var(--light-shadow);
}
.nav-ul-list a,
.nav-ul-list .btn-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  font-size: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 2.5;
  margin: 0;
  padding: 0 60px 0 20px;
  width: 100%;
}
.nav-ul-profile a,
.nav-ul-profile .btn-nav {
  padding: 0 20px;
}
.nav-ul-list a:hover,
.nav-ul-list .btn-nav:hover {
  background-color: #00000008;
}
.nav-ul-list img {
  width: 4em;
  margin-left: 15px;
}
@media (min-width: 660px) {
  .nav-ul {
    position: static;
    border-bottom: none;
  }
  .nav-ul > li:hover .nav-ul-list {
    display: block;
  }
  .nav-ul-list:hover {
    display: block;
  }
  .nav-ul-list {
    display: none;
    padding-top: 10px;
  }
  .nav-ul > li > a {
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .nav-ul-list ul {
    padding: 10px 0;
  }
}
