.list-of-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    gap: 20px;
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
    width: 95%;
}

.list-of-cards i {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

