.card {
  height: 100%;
  position: relative;
  animation: show-down 0.6s ease-in-out forwards;
  min-height: 220px;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-info {
  text-align: left;
  color: var(--dark);
  height: 60px;
  left: 0;
  opacity: 1;
  padding: 10px;
  position: absolute;
  top: 100%;
  background-color: var(--light-letter);
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #00000010;
  align-items: flex-start;
  overflow: hidden;
  width: 100%;
}
.card-info .maximize {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;

  width: 100%;
  height: 100%;
}
.card-info p {
  position: relative;
  z-index: 10;
  font-size: small;
  cursor: pointer;
}
.card-info p span {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 60%, var(--light-letter) 100%);
  width: 100%;
  height: 35px;
  display: block;
  top: 0;
  position: absolute;
}
.card-link {
  color: var(--dark);
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9em;
  position: relative;
  z-index: 10;
}
.card-link:hover {
  text-decoration: underline;
}
.card:hover .card-info {
  opacity: 1;
}
.card:hover.card-collection-explore {
  opacity: 1;
}
.options {
  display: flex;
  cursor: pointer;
  margin-left: 15px;
  position: relative;
  z-index: 10;
}
.options .icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4em;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  color: var(--dark);
}
.options .icon .fasHeart {
  color: rgb(237, 73, 86);
}
.card-collection-explore {
  background-color: var(--shadow);
  text-align: left;
  color: var(--light-letter);
  height: 100%;
  left: 0;
  opacity: 1;
  padding: 15px;
  position: absolute;
  top: 0;
  transition: 0.3s;
  width: 100%;
  display: block;
}
.card-info-explore {
  color: var(--light-letter);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  width: 100%;
  height: 130px;
}
.card-collection-profile {
  display: none;
  background-color: var(--shadow);
  text-align: left;
  color: var(--light-letter);
  height: 100%;
  left: 0;
  opacity: 0;
  padding: 15px;
  position: absolute;
  top: 0;
  width: 100%;
}
.card-collection-profile:hover {
  opacity: 1;
}
.card-detail .card-info {
  height: max-content;
}
@media (min-width: 660px) {
  .card {
    border-radius: 5px;
    box-shadow: 5px 15px 30px var(--light-shadow);
    height: 100%;
    overflow: hidden;
    position: relative;
    min-height: 250px;
    animation: show-down 0.6s ease-in-out forwards;
  }
  .card-collection-profile {
    display: block;
  }
  .card-info {
    background-color: var(--shadow);
    text-align: left;
    color: var(--light-letter);
    height: 100%;
    left: 0;
    opacity: 0;
    padding: 15px;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
  }
  .card-info p {
    font-size: medium;
  }
  .card-info p span {
    display: none;
  }
  .card-link {
    color: var(--light-letter);
    font-size: 2em;
    text-decoration: none;
    font-weight: 600;
  }
  .options {
    position: absolute;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    margin: 0;
  }

  .options .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    background-color: var(--shadow);
    color: var(--light-letter);
  }
  .card-info-explore {
    font-size: 2em;
    height: 100%;
  }
  .card-detail .card-info {
    height: 100%;
    width: 30%;
  }
}
@media (min-width: 1280px) {
  .list-of-cards .card:nth-child(2) {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .list-of-cards .card:nth-child(7n) {
    grid-column: 1 / 4;
    max-height: 400px;
  }
}
