.search-form {
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}
.search-form input {
    background: none;
    border: none;
    height: 30px;
    left: -140px;
    outline: none;
    padding: 0 10px;
    position: absolute;
    text-align: end;
    z-index: 100;
}
.search-form label {
    align-items: center;
    border-radius: 50%;
    box-shadow: 3px 3px 15px var(--light-shadow);
    cursor: pointer;
    display: inline-flex;
    height: 30px;
    justify-content: center;
    transition: box-shadow .3s;
    width: 30px;
}
.search-form label:hover {
    box-shadow: 3px 3px 30px var(--light-shadow);
}
.search-icon {
    height: 15px;
    width: 15px;
}
.search-icon-circle {
    border-radius: 50%;
    border: 1px solid var(--letter);
    display: block;
    height: 10px;
    width: 10px;
}
.search-icon-line {
    background-color: var(--letter);
    display: block;
    height: 1px;
    transform: rotate(45deg) translateX(5px) translateY(-5px);
    width: 6px;
}