.btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 300px;
  cursor: pointer;
  border: 1px solid var(--focus-letter);
  background: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  width: 90%;
  color: var(--focus-letter);
  transition: color 0.2s, background-color 0.2s;
}
.btn-primary:hover {
  background-color: var(--focus-letter);
  color: var(--light-letter);
}
.btn-primary[disabled] {
  pointer-events: none;
  opacity: 0.3;
}
.btn-primary[name='active'] {
  background-color: var(--focus-letter) !important;
  color: var(--light-letter);
}
