header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding-top: 60px;
    justify-content: center;
    animation: show-down .6s ease-in-out forwards;
}
.header-title {
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
}
.header-title h1 {
    font-family: 'DM Serif Display', serif;
    text-shadow: 4px 8px 30px var(--shadow);
    color: var(--light-letter);
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: .2em;
    cursor: default;
}
.header-title h3 {
    position: relative;
    z-index: 20;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    color: var(--focus-letter);
    letter-spacing: .1em;
    line-height: 0;
    font-size: 18px;
    cursor: default;
}
.header-title h1 span {
    font-family: 'DM Serif Display', serif;
    position: relative;
    z-index: 20;
}
.header-title img {
    position: absolute;
    z-index: 10;
}
.img-plant-01 {
    top: 0%;
    left: 6%;
    transform: rotate(269deg);
    width: 13%;
}
.img-plant-02 {
    top: 13%;
    left: 29%;
    transform: rotate(200deg) rotateX(180deg) rotateY(180deg);
    width: 10%;
}
.img-plant-03 {
    top: -14%;
    left: 52%;
    transform: rotate(99deg);
    width: 15%;
}
.img-plant-04 {
    top: 25%;
    right: 11%;
    transform: rotate(213deg);
    width: 10%;
}
@media (min-width: 660px) {
    header {
        height: 80vh;
        padding-top: 0;
    }
    .header-title h1 {
        font-size: 110px;
    }
    .header-title h3 {
        font-size: 22px;
    }
    .img-plant {
        top: -95px;
        left: 68px;
    }
}
@media (min-width: 1180px) {
    .header-title h1 {
        font-size: 180px;
    }
    .header-title h3 {
        font-size: 28px;
    }
    .img-plant {
        top: -145px;
        left: 110px;
    }
}