header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding-top: 60px;
    justify-content: center;
    animation: show-down .6s ease-in-out forwards;
}
.header-title {
    position: relative;
    margin-top: 80px;
    margin-bottom: 40px;
}
.header-title h1 {
    font-family: 'DM Serif Display', serif;
    text-shadow: 4px 8px 30px var(--shadow);
    color: var(--light-letter);
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: .2em;
    cursor: default;
}
.header-title h3 {
    position: relative;
    z-index: 20;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    color: var(--focus-letter);
    letter-spacing: .1em;
    line-height: 0;
    font-size: 18px;
    cursor: default;
}
.header-title h1 span {
    font-family: 'DM Serif Display', serif;
    position: relative;
    z-index: 20;
}
.img-plant {
    position: absolute;
    top: -60px;
    left: 45px;
    transform: rotate(37deg);
    width: 70%;
    z-index: 10;
}
@media (min-width: 660px) {
    header {
        height: 80vh;
        padding-top: 0;
    }
    .header-title h1 {
        font-size: 110px;
    }
    .header-title h3 {
        font-size: 28px;
    }
    .img-plant {
        top: -95px;
        left: 68px;
    }
}
@media (min-width: 1380px) {
    .header-title h1 {
        font-size: 180px;
    }
    .header-title h3 {
        font-size: 28px;
    }
    .img-plant {
        top: -145px;
        left: 110px;
    }
}