.main-explore {
  min-height: 150vh;
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding-top: 60px;
  overflow: hidden;
}
.header-explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vh;
  min-height: 150px;
  animation: show 0.6s ease-in-out forwards;
  overflow: hidden;
}
.title-explore {
  position: relative;
}
.title-explore h2 {
  text-align: center;
  color: var(--dark);
  font-size: 1.5em;
  text-shadow: 3px 3px 15px var(--light-shadow);
  cursor: default;
}
.watercolor-leaves-left {
  position: absolute;
  z-index: -1;
  width: 35%;
  top: 0%;
  left: -17%;
}
.watercolor-leaves-right {
  position: absolute;
  width: 35%;
  top: 0%;
  right: -17%;
  transform: rotateY(180deg);
}
@media (min-width: 660px) {
  .header-explore {
    height: 40vh;
    padding-top: 90px;
  }
  .title-explore h2 {
    font-size: 2em;
  }
}
@media (min-width: 1180px) {
  .title-explore h2 {
    font-size: 3.5em;
  }
  .header-explore {
    height: 50vh;
  }
}
