.hamburguer-menu-bars {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 15px;
  justify-content: space-evenly;
  transition: 0.2s ease-in-out;
  width: 25px;
  list-style: none;
}
.hamburguer-menu-active {
  transition: 0.2s ease-in-out;
  transform: rotate(45deg);
}
.hamburguer-menu-active .bar {
  background-color: var(--focus-letter);
}
.hamburguer-menu-active .bar:nth-child(1) {
  transform: rotate(90deg) translate(4px);
}
.hamburguer-menu-active .bar:nth-child(2) {
  transform: translateY(-2px);
}
.bar {
  background-color: var(--dark);
  height: 1px;
  border: none;
  transition: 0.2s ease-in-out;
  width: 60%;
}
