.sign-up-form {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  animation: show-down 0.6s ease-in-out forwards;
}
.sign-up-form h2 {
  color: var(--focus-letter);
  font-family: 'DM Serif Display', serif;
  letter-spacing: 1px;
}
.sign-up-form h3 {
  margin-bottom: 15px;
  font-size: 1em;
  font-weight: 400;
  width: 80%;
  text-align: center;
}
.sign-up-form div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  gap: 10px;
}
.sign-up-form input {
  border: 1px solid #00000010;
  border-radius: 5px;
  padding: 10px 16px;
  width: 90%;
}
.sign-up-form input:focus {
  outline: 1px solid var(--focus-letter);
}
.sign-up-form a {
  text-align: start;
  width: 90%;
  color: var(--focus-letter);
  font-weight: 600;
}

.sign-up-form .input-error {
  border: 1px solid var(--error);
}
.sign-up-form .input-error:focus {
  outline: 1px solid var(--error);
}
.sign-up-form small {
  text-align: start;
  display: block;
  width: 90%;
  padding: 0 5px;
  color: var(--error);
  margin: -10px 0 -5px;
  max-width: 290px;
}

@media (min-width: 660px) {
  .sign-up-form {
    width: max-content;
    margin-top: 15px;
    background-color: var(--light-letter);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 5px 15px 30px var(--light-shadow);
  }
}
