@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
:root {
  --background: #fafafa;
  --light-background: #adadad19;
  --light-letter: #fff;
  --letter: #6b6b6b;
  --dark-letter: #232323;
  --dark: #1b1b1b;
  --focus-letter: #246f4d;
  --dark-focus-letter: #798861;
  --light-focus-letter: #86a766;
  --light-shadow: #00000019;
  --shadow: #00000039;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-thumb {
  background-color: var(--dark);
}
* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  background-color: var(--light-letter);
  overflow-x: hidden;
}
hr {
  border: none;
  height: 1px;
  background-color: var(--light-shadow);
}
@media (min-width: 660px) {
  body {
    background-color: var(--background);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes show-down {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes show-left {
  0% {
    transform: translateX(10px);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes show-right-slide {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(0px);
  }
}
