nav {
    align-items: center;
    background-color: var(--background);
    border-bottom: 1px solid #00000010;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.nav-logo {
    color: var(--focus-letter);
    font-family: 'DM Serif Display', serif;
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
}
