.reset-pasword-form {
  margin: 40px auto 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
}
.reset-pasword-form h2 {
  color: var(--focus-letter);
  font-family: 'DM Serif Display', serif;
  letter-spacing: 1px;
}
.reset-pasword-form input {
  border: 1px solid #00000010;
  border-radius: 5px;
  padding: 8px 16px;
  width: 90%;
}
.reset-pasword-form input:focus {
  outline: 1px solid var(--focus-letter);
}
.reset-pasword-form button {
  cursor: pointer;
  border: 1px solid var(--focus-letter);
  background: none;
  font-weight: 700;
  border-radius: 5px;
  padding: 10px 20px;
  width: 90%;
  color: var(--focus-letter);
  transition: color 0.2s, background-color 0.2s;
}
.reset-pasword-form button:hover {
  background-color: var(--focus-letter);
  color: var(--light-letter);
}
.reset-pasword-form a {
  text-align: start;
  width: 90%;
  color: var(--focus-letter);
  font-weight: 600;
}
@media (min-width: 660px) {
  .reset-pasword-form {
    margin-top: 180px;
    width: max-content;
    min-width: 400px;
    background-color: var(--light-letter);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 5px 15px 30px var(--light-shadow);
  }
}
